@import url("https://fonts.googleapis.com/css2?family=Fuggles&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuggles&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #00acc1;
  --secondary-color: #4dd0e1;
  --headline-text: #0f090b;
  --dark-text: #0f090b;
  --sub-text: #000;
  --light-text: #fff;
  --accent-color: #fbf5df;

  /*FONT SIZE*/
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 3rem;

  /*FONT WEIGHT*/
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /*BORDER RADIUS*/
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /*SITE MAX WIDTH*/
  --site-max-width: 90%;
}

/*GENERAL STYLING*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}
/*END*/

/*DARK MODE*/
.darkmode {
  --primary-color: #0b0c10;
  --secondary-color: #1f2833;
  --headline-text: #66fcf1;
  --dark-text: #fff;
  --sub-text: #c5c6c7;
  --light-text: #66fcf1;
  --accent-color: #45a29e;

  #theme-switch {
    svg {
      &:first-child {
        display: none;
      }

      &:last-child {
        display: block;
      }
    }
  }
}

#theme-switch {
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  background-color: #edeae5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
  cursor: pointer;

  svg {
    fill: var(--primary-color);

    &:last-child {
      display: none;
    }
  }
}
/*END*/

/*NAV BAR*/
header {
  background: var(--primary-color);
  position: fixed;
  width: 100%;
  z-index: 5;

  #navbar {
    display: flex;
    align-items: center;
  }
}

#navbar {
  position: relative;
  width: 100%;
  height: 80px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto, sans-serif;

  .nav-menu {
    display: flex;
    padding: 20px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    .nav-link {
      color: var(--light-text);
      font-size: var(--font-size-m);
      border-radius: var(--border-radius-m);
      padding: 10px 18px;
      transition: 0.3s ease;

      &:hover {
        color: var(--dark-text);
        background: var(--accent-color);
      }
    }
  }

  :where(#menu-close-button, #menu-open-button) {
    display: none;
  }

  .nav-logo {
    .logo-text {
      color: var(--light-text);
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-semibold);
    }
  }
}
/*END*/

/*HERO SECTION*/
.hero-section {
  min-height: 100vh;
  background: var(--secondary-color);
  position: relative;

  .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--accent-color);
    justify-content: space-between;
  }

  .hero-details {
    z-index: 1;

    .title {
      font-size: var(--font-size-xxl);
      color: var(--headline-text);
      font-family: Roboto, sans-serif;
    }

    .subtitle {
      font-size: var(--font-size-l);
      font-weight: var(--font-weight-semibold);
      margin-top: 8px;
      max-width: 70%;
      color: #fff;
    }

    .description {
      max-width: 70%;
      margin: 24px 0 40px;
      font-size: var(--font-size-m);
      color: var(--sub-text);
    }
  }

  .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    background: #fff;
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;

    &:hover,
    &.contact-me {
      color: var(--accent-color);
      border-color: var(--accent-color);
      background: transparent;
    }
  }

  .contact-me {
    &:hover {
      color: var(--primary-color);
      border-color: var(--secondary-color);
      background: #fff;
    }
  }

  .buttons {
    display: flex;
    gap: 23px;
  }

  .hero-image-wrapper {
    max-width: 500px;
    margin-right: 30px;
    z-index: 1;
  }

  .section-content {
    margin: 0 auto;
    padding: 0 20px;
  }

  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px darken(#45a29e, 8%);
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;

    &:nth-child(2n) {
      border-color: lighten(#66fcf1, 10%);
    }

    &:nth-child(2) {
      animation-delay: 2s;
      left: 25vw;
      top: 20vh;
    }

    &:nth-child(3) {
      animation-delay: 4s;
      left: 75vw;
      top: 50vh;
    }

    &:nth-child(4) {
      animation-delay: 6s;
      left: 90vw;
      top: 10vh;
    }

    &:nth-child(5) {
      animation-delay: 8s;
      left: 10vw;
      top: 85vh;
    }

    &:nth-child(6) {
      animation-delay: 10s;
      left: 50vw;
      top: 10vh;
    }
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
}

/*END*/

/*CAREER*/
#career {
  padding: 120px 0;
  background: var(--accent-color);
  color: #000;
}

.section-title {
  text-align: center;
  padding: 60px 0 100px;
  text-transform: uppercase;
  font-size: var(--font-size-xl);

  &::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
  }
}

.timeline {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--primary-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;

  -webkit-transform: translateY(50px) rotate(-5deg) translateZ(0);
  transform: translateY(50px) rotate(-5deg) translateZ(0);
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;

  /* The circles on the timeline */
  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #ff9f55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
}

.container.inView {
  opacity: 1;
  -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
  transform: translateY(0px) rotate(0deg) translateZ(0);
  z-index: 1;
}

.inView {
  opacity: 1;
  -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
  transform: translateY(0px) rotate(0deg) translateZ(0);
}

/* Place the container to the left */
.left {
  left: 0;

  /* Add arrows to the left container (pointing right) */
  &::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
}

/* Place the container to the right */
.right {
  left: 50%;

  /* Add arrows to the right container (pointing left) */
  &::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Fix the circle for containers on the right side */
  &::after {
    left: -16px;
  }
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
/*END*/

/*SKILLS*/
#skills {
  padding: 50px 0 100px;
  background: var(--secondary-color);
  color: var(--dark-text);

  .section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);

    &::after {
      background: var(--dark-text);
    }
  }

  .section-content {
    margin: 0 auto;

    .grid-container {
      display: grid;
      grid-template-columns: repeat(5, auto);
      justify-content: space-evenly;
      align-content: center;
      gap: 60px 80px;

      .flip-box {
        background-color: transparent;
        width: 300px;
        height: 235px;
        perspective: 1000px;
      }

      .flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }

      .flip-box:hover .flip-box-inner {
        transform: rotateY(180deg);
      }

      .flip-box-front,
      .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        align-content: center;
      }

      .flip-box-front {
        background-color: transparent;
        color: var(--dark-text);

        .skill-image {
          max-width: 65%;
          aspect-ratio: 1;
          width: 100%;
        }
      }

      .flip-box-back {
        background-color: var(--accent-color);
        color: var(--dark-text);
        transform: rotateY(180deg);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
/*END*/

/*PORTFOLIO*/
#portfolio {
  padding: 120px 0;
  background: var(--accent-color);
  color: #000;

  .visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;
  }

  .portfolio-container {
    padding: 20px;
    overflow: hidden;
  }

  .card-carousel {
    --card-width: 398px;
    --card-max-width: 80%;
    --card-height: 844px;
    --carousel-min-width: 330px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter 0.3s ease;

    .card {
      background: whitesmoke;
      width: var(--card-width);
      max-width: var(--card-max-width);
      text-align: center;
      padding: 1em;
      min-width: 250px;
      height: var(--card-height);
      position: absolute;
      margin: 0 auto;
      color: rgba(0, 0, 0, 0.5);
      transition: inherit;
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
      border-radius: 1em;
      filter: brightness(0.9);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      a {
        position: absolute;
        height: 100%;
        width: 100%;
      }
    }
  }

  .card-carousel.smooth-return {
    transition: all 0.2s ease;
  }

  .card.highlight {
    filter: brightness(1);
  }

  .card:nth-of-type(1) {
    background-image: url("assets/mercola-mobile.png");
  }

  .card:nth-of-type(2) {
    background-image: url("assets/biodynamics-mobile.png");
  }

  .card:nth-of-type(3) {
    background-image: url("assets/solspring-mobile.png");
  }

  .card:nth-of-type(4) {
    background-image: url("assets/b&w-mobile.png");
  }

  .card:nth-of-type(5) {
    background-image: url("assets/sito-mobile.png");
  }

  .card:nth-of-type(6) {
    background-image: url("assets/sito-mobile.png");
  }
}
/*END*/

/*FOOTER*/
.footer-section {
  padding: 20px 0;
  background: var(--primary-color);

  :where(.copyright-text) {
    color: var(--sub-text);
  }

  .section-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*END*/

/*MEDIA QUERY*/
@media screen and (max-width: 1250px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }

  .section-content {
    max-width: unset;
  }

  /*NAV BAR*/
  .show-mobile-menu {
    #navbar {
      .nav-menu {
        left: 0;
      }
    }

    header {
      &::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }

  #navbar {
    .nav-menu {
      display: block;
      position: fixed;
      left: -300px;
      top: 0;
      width: 300px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 100px;
      background: var(--accent-color);
      transition: left 0.2s ease;

      .nav-link {
        color: var(--dark-text);
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
      }
    }

    :where(#menu-close-button, #menu-open-button) {
      display: block;
      font-size: var(--font-size-l);
    }

    #menu-close-button {
      position: absolute;
      right: 30px;
      top: 30px;
    }

    #menu-open-button {
      color: var(--accent-color);
    }
  }

  /*HERO SECTION*/
  .hero-section {
    .section-content {
      gap: 50px;
      text-align: center;
      padding: 110px 20px 50px;
      flex-direction: column-reverse;
      justify-content: center;
    }

    .hero-details {
      :is(.subtitle, .description),
      #career .about-details {
        max-width: 100%;
      }

      .buttons {
        justify-content: center;
      }
    }

    .hero-image-wrapper {
      max-width: 270px;
      margin-right: 0;
      z-index: 1;
    }
  }

  /*CAREER*/
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
  /*END*/

  /*SKILLS*/
  #skills {
    .skill-list {
      gap: 30px;

      .skill-item {
        width: calc(100% / 2 - 30px);

        .skill-image {
          max-width: 200px;
        }
      }
    }
  }
  /*END*/
}

@media screen and (max-width: 640px) {
  .card-carousel {
    --card-width: 398px;
    --card-max-width: 80%;
    --card-height: 844px;
    --carousel-min-width: 330px;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter 0.3s ease;

    .card {
      background: whitesmoke;
      width: var(--card-width);
      max-width: var(--card-max-width);
      text-align: center;
      padding: 1em;
      min-width: 250px;
      height: var(--card-height);
      position: absolute;
      margin: 0 auto;
    }
  }

  .footer-section {
    .section-content {
      flex-direction: column;
      gap: 20px;
    }
  }

  #skills {
    .skill-list {
      gap: 60px;

      .skill-item {
        width: 100%;
      }
    }
  }
}
